$animation = .5s cubic-bezier(0.23, 1, 0.32, 1)

rupture.anti-overlap = true
rupture.scale = 0 500px 767px 1239px

$colorText = #181917
$backgroundButton = #fce706
$backgroundPhotoHover = #3a3b3f
$borderColorInput = #d1dde2
$fontSizeBase = 1.4rem
$fontSizeCaption = 1.2rem
$fontSizeContacts = 1.8rem

$headerMenuHeight = 152px
$headerMobileHeight = 112px
$headerPhoneHeight = 0


