@require "other/**/*"
@require "parts/**/*"

*
  &
  &:before
  &:after
    box-sizing border-box

html
  color $colorText
  background #fff
  font-size 10px
  font-family 'Circe'
  font-weight 300

body
  font-size $fontSizeBase
  line-height 1.29

b
  font-weight 700

._center
  text-align center
