.tasks
  display: flex
  flex-direction: column

  &__item
    position: relative
    background: #FFF
    width: 450px
    padding: 10px
    margin: 10px

  &__tasks-title
    width: 400px

  &__tasks-desc
    width: 400px

  &__delete-button
    position: absolute
    right: 0
    top: 0
